<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1 style="color: rgb(127, 195, 255);"> welcome to our page</h1>
    <p> 
        <a href="http://127.0.0.1:8080/about/">about</a>
        </p>
    <p> 
         <a href="http://127.0.0.1:8080/contact/">contact_us</a>
         </p>
    
    <p> 
    <a href="http://127.0.0.1:8080/offers/">offers</a>
    </p>
   
</body>
</html>